.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# SQLite database
*.sqlite
*.sqlite3
*.db
*.db3

/uploads/*

# Logs
logs
*.log


node_modules/
jspm_packages/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo

coverage/
.nyc_output

package-lock.json
yarn.lock
pnpm-lock.yaml

.dockerignore
docker-compose.yml
docker-compose.*.yml
